name: Auto Merge Feature Branch to Main

on:
  push:
    branches:
      - "feature/**"

permissions:
  contents: write
  #pull-requests: write

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "dhame11"
          git config user.email "dhanunjaya2108@gmail.com"

      - name: Merge feature branch into main
        env:
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          git checkout main
          git pull origin main
          git merge origin/$BRANCH_NAME --no-ff -m "Auto-merge $BRANCH_NAME into main"
          git push origin main

